@page "{id}"
@model ServiceHost.Pages.ProductDetailsModel
@{
}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="page-header-st3-content text-center text-md-start">
                        <ol class="breadcrumb justify-content-center justify-content-md-start">
                            <li class="breadcrumb-item"><a class="text-dark" asp-page="./Index">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a class="text-dark" asp-page="./ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a></li>
                            <li class="breadcrumb-item active text-dark" aria-current="page">@Model.Product.Name </li>
                        </ol>
                        <h1 class="page-header-title">جزئیات محصول : @Model.Product.Name</h1>
                    </div>
                </div>
                <div class="col-md-7">
                    @* <h5 class="showing-pagination-results mt-5 mt-md-9 text-center text-md-end">نمایش محصول واحد</h5>*@
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Product Details Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row product-details">
                <div class="col-lg-6">
                    <div class="product-details-thumb" data-bg-color="@Model.Product.BackgroundColor">
                        <img src="~/uploads/@Model.Product.Picture" width="570" height="693" alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle">
                        <span class="flag-new">جدید</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-content">
                        <h5 class="product-details-collection">گروه محصول : @Model.Product.Category</h5>
                        <h3 class="product-details-title">
                            @Model.Product.Name
                        </h3>
                        <div class="product-details-review mb-7">
                            <div class="product-review-icon">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <button type="button" class="product-review-show">150 بررسی</button>
                        </div>
                        <p class="mb-7">@Model.Product.ShortDescription</p>
                        @if (Model.Product.HasDiscount)
                        {
                            <p class="info-text">این محصول را بخرید و <span class="text-primary">@Model.Product.DiscountRate %</span> تخفیف بگیرید </p>
                        }
                        <div class="product-details-action">
                            <h4 class="price">@Model.Product.Price تومان</h4>
                            <div class="product-details-cart-wishlist">
                                <a type="button" class="btn-wishlist text-center" href="#showmodal=@Url.Page("./Index", "WishList", new { id = Model.Product.Slug })">
                                    <i class="fa fa-heart-o m-3"></i>
                                </a>
                                <a type="button" class="btn ps-5" href="#showmodal=@Url.Page("./Index", "CartAdd", new { id = Model.Product.Slug})">
                                    <span>هم اکنون خریداری کنید</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="nav product-details-nav" id="product-details-nav-tab" role="tablist">
                        <button class="nav-link" id="specification-tab" data-bs-toggle="tab" data-bs-target="#specification" type="button" role="tab" aria-controls="specification" aria-selected="false">توضیحات</button>
                        <button class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">نظرات</button>
                    </div>
                    <div class="tab-content" id="product-details-nav-tabContent">
                        <div class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                            <p>@Model.Product.Description</p>
                        </div>

                        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <!--== Start Reviews Content Item ==-->
                            <div class="product-review-item">
                                <div class="product-review-top">
                                    <div class="product-review-thumb">
                                        <img src="~/Theme/files/images/shop/product-details/comment1.webp" alt="Images">
                                    </div>
                                    <div class="product-review-content">
                                        <span class="product-review-name">توماس دو</span>
                                        <span class="product-review-designation">توسعه دهنده</span>
                                        <div class="product-review-icon">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="desc"> برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند. این همیشه سرلوحه شعارهای مدیاژ بوده و ما در این مجموعه تمامی تلاشمان این است که مشتری‌هایمان بتوانند با اطلاعات کامل از طیف گسترده‌ای از محصولات بازار، توانایی خرید داشته باشند</p>
                                <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                            </div>
                            <!--== End Reviews Content Item ==-->
                            <!--== Start Reviews Content Item ==-->
                            <div class="product-review-item product-review-reply">
                                <div class="product-review-top">
                                    <div class="product-review-thumb">
                                        <img src="~/Theme/files/images/shop/product-details/comment2.webp" alt="Images">
                                    </div>
                                    <div class="product-review-content">
                                        <span class="product-review-name">توماس دو</span>
                                        <span class="product-review-designation">توسعه دهنده</span>
                                        <div class="product-review-icon">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="desc"> برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند. این همیشه سرلوحه شعارهای مدیاژ بوده و ما در این مجموعه تمامی تلاشمان این است که مشتری‌هایمان بتوانند با اطلاعات کامل از طیف گسترده‌ای از محصولات بازار، توانایی خرید داشته باشند.</p>
                                <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                            </div>
                            <!--== End Reviews Content Item ==-->
                            <!--== Start Reviews Content Item ==-->
                            <div class="product-review-item mb-0">
                                <div class="product-review-top">
                                    <div class="product-review-thumb">
                                        <img src="~/Theme/files/images/shop/product-details/comment3.webp" alt="Images">
                                    </div>
                                    <div class="product-review-content">
                                        <span class="product-review-name">توماس دو</span>
                                        <span class="product-review-designation">توسعه دهنده</span>
                                        <div class="product-review-icon">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="desc"> برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند. این همیشه سرلوحه شعارهای مدیاژ بوده و ما در این مجموعه تمامی تلاشمان این است که مشتری‌هایمان بتوانند با اطلاعات کامل از طیف گسترده‌ای از محصولات بازار، توانایی خرید داشته باشند</p>
                                <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                            </div>
                            <!--== End Reviews Content Item ==-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="product-reviews-form-wrap">
                        <h4 class="product-form-title">نظر دهید</h4>
                        <div class="product-reviews-form">
                            <form action="#">
                                <div class="form-input-item">
                                    <textarea class="form-control" placeholder="بازخورد خود را وارد کنید"></textarea>
                                </div>
                                <div class="form-input-item">
                                    <input class="form-control" type="text" placeholder="نام و نام خانوادگی">
                                </div>
                                <div class="form-input-item">
                                    <input class="form-control" type="email" placeholder="آدرس ایمیل">
                                </div>
                                <div class="form-input-item">
                                    <div class="form-ratings-item">
                                        <select id="product-review-form-rating-select" class="select-ratings">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                        <span class="title">رتبه بندی خود را ارائه دهید</span>
                                        <div class="product-ratingsform-form-wrap">
                                            <div class="product-ratingsform-form-icon">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div id="product-review-form-rating" class="product-ratingsform-form-icon-fill">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="reviews-form-checkbox">
                                        <input class="form-check-input" type="checkbox" value="" id="ReviewsFormCheckbox" checked>
                                        <label class="form-check-label" for="ReviewsFormCheckbox">
                                            رتبه بندی را به صورت ناشناس ارائه دهید.
                                        </label>
                                    </div> *@
                                </div>
                                <div class="form-input-item mb-0">
                                    <button type="submit" class="btn">ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Details Area Wrapper ==-->
    <!--== Start Product Banner Area Wrapper ==-->
    <!--== بنر ==-->
    <!--== End Product Banner Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <!--== محصولات مرتبط ==-->
    <!--== End Product Area Wrapper ==-->

</main>