@model List<_01_SogandShopQuery.Contracts.Product.ProductQueryModel>

<section class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title"> جدیدترین محصولات</h2>
                    <p> جدیدترین محصولات ما را مشاهده کنید.  </p>
                </div>
            </div>
        </div>
        <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
            @foreach (var product in Model)
            {
                <div class="col-6 col-lg-4 mb-4 mb-sm-9">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb" data-bg-color="@product.BackgroundColor">
                            <a class="d-block" asp-page="./ProductDetails" asp-route-id="@product.Slug">
                                <img src="~/uploads/@product.Picture" width="370" height="450" alt="@product.PictureAlt" title="@product.PictureTitle">
                            </a>
                            <span class="flag-new">جدید</span>
                            <div class="product-action">
                                <a type="button" class="product-action-btn action-btn-quick-view" asp-page="./ProductDetails" asp-route-id="@product.Slug">
                                    <i class="fa fa-expand m-3"></i>
                                </a>
                                @*<button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                            <i class="fa fa-expand"></i>
                            </button>*@
                                @* <a type="button" class="product-action-btn action-btn-quick-view" onclick='mymainmodalbtn' id="mymainmodalbtn" href="#showmodal=@Url.Page("./Index", "QuickViewDetails")">
                            <i class="fa fa-expand m-3"></i>
                            </a>*@
                                <a type="button" class="product-action-btn action-btn-cart pt-2" href="#showmodal=@Url.Page("./Index", "CartAdd", new { id = product.Slug })">
                                    <span>به سبد خرید اضافه کنید</span>
                                </a>
                                <a type="button" class="product-action-btn action-btn-wishlist" href="#showmodal=@Url.Page("./Index", "WishList", new { id = product.Slug })">
                                    <i class="fa fa-heart-o m-3"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-rating">
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="reviews">150 بررسی</div>
                            </div>
                            <h4 class="title"><a asp-page="./ProductDetails" asp-route-id="@product.Slug">@product.Name </a></h4>
                            <div class="prices">
                                @if (product.HasDiscount)
                                {
                                    <span class="price">@product.PriceWithDiscount تومان</span>
                                    <span class="price-old fs-5">@product.Price</span>
                                }
                                else
                                {
                                    <span class="price">@product.Price تومان</span>
                                }
                                
                            </div>
                        </div>
                        <div class="product-action-bottom">
                            <a type="button" class="product-action-btn action-btn-quick-view text-center" asp-page="./ProductDetails" asp-route-id="@product.Slug">
                                <i class="fa fa-expand mt-1"></i>
                            </a>
                            <a type="button" class="product-action-btn action-btn-wishlist text-center" href="#showmodal=@Url.Page("./Index", "WishList", new { id = @product.Slug })">
                                <i class="fa fa-heart-o m-1"></i>
                            </a>
                            <a type="button" class="product-action-btn action-btn-cart pt-2" href="#showmodal=@Url.Page("./Index", "CartAdd", new { id = @product.Slug })">
                                <span class="m-3">به سبد خرید اضافه کنید</span>
                            </a>
                        </div>
                    </div>
                    <!--== End product Item ==-->
                </div>
            }
        </div>
    </div>
</section>
