@model List<_01_SogandShopQuery.Contracts.ProductCategory.ProductCategoryQueryModel>

<section class="section-space pb-0">
    <div class="container">
        <div class="row g-3 g-sm-6">
            @foreach (var category in Model)
            {
                <div class="col-6 col-lg-4 col-lg-2 col-xl-2 mt-lg-0 mt-sm-6 mt-4">
                    <!--== Start Product Category Item ==-->
                    <a asp-page="/ProductCategory" asp-route-id="@category.Slug" class="product-category-item" data-bg-color="@category.BackgroundColor">
                        <img class="icon" src="@category.Picture" width="70" height="80" alt="@category.PictureAlt" title="@category.PictureTitle">
                        <h3 class="title">@category.Name</h3>
                        @*<span class="flag-new">جدید</span>*@
                    </a>
                    <!--== End Product Category Item ==-->
                </div>
            }
        </div>
    </div>
</section>


