@page
@model ServiceHost.Areas.Administration.Pages.Shop.Comments.IndexModel
@{
    ViewData["Title"] = "مدیریت کامنت ها";
}
<!-- Content -->
<!--Search-->
<div class="container-xxl  cls-sj-saf---content-search-box">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-dark alert-dismissible mb-0" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="card mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">جستجو در کامنت ها</h5>
            @*<small class="text-muted float-end">Default label</small>*@
        </div>
        <div class="card-body">
            <form method="get">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SearchModel.FullName" class="control-label">نام و نام خانوادگی</label>
                            <input type="text" class="form-control" asp-for="SearchModel.FullName" placeholder="نام و نام خانوادگی">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SearchModel.Email" class="control-label">ایمیل</label>
                            <input type="text" class="form-control" asp-for="SearchModel.Email" placeholder="ایمیل">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-sm-11">
                        <button type="submit" class="btn btn-success">جستجو</button>
                        <a class="btn btn-primary" asp-page="./Index">مشاهده همه</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!--/Search-->
<div class="container-xxl flex-grow-1  cls-sj-saf---content-Table-box">
    <!-- Bootstrap Table with Header - Dark -->
    <div class="card">
        <div id="card-bar" class="row">
            <div id="card-bar-right" class="col-sm-6">
                <h5 class="card-header">لیست کامنت ها</h5>
            </div>
        </div>
    </div>


    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark text-center">
                <tr>
                    <th>#</th>
                    <th>نام و نام خانوادگی</th>
                    <th>ایمیل</th>
                    <th>پیام</th>
                    <th>تاریخ ایجاد</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-center">
                @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td class="persianNumber"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Id</strong></td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td class="persianNumber">@item.Message</td>
                        <td class="persianNumber">@item.CommentDate</td>
                        <td>
                            @if (!item.IsConfirmed && !item.IsCanceled)
                            {
                                <span class="text-warning">در انتظار</span>
                            }
                            @if (item.IsCanceled && !item.IsConfirmed)
                            {
                                <span class="text-danger">رد شده</span>
                            }
                            @if (item.IsConfirmed && !item.IsCanceled)
                            {
                                <span class="text-success">تایید شده</span>
                            }
                        </td>
                        <td>
                            @if (!item.IsConfirmed && !item.IsCanceled)
                            {
                                <a class="btn btn-info pull-right m-rl-5"
                                   asp-page="./Index" asp-page-handler="Confirm" asp-route-id="@item.Id">
                                    تایید کردن
                                </a>
                                <a class="btn btn-danger pull-right m-rl-5"
                                   asp-page="./Index" asp-page-handler="Cancel" asp-route-id="@item.Id">
                                    رد کردن
                                </a>
                            }
                            @if (item.IsConfirmed && !item.IsCanceled)
                            {
                                <a class="btn btn-danger pull-right m-rl-5"
                                   asp-page="./Index" asp-page-handler="Cancel" asp-route-id="@item.Id">
                                    رد کردن
                                </a>
                            }
                            @if (item.IsCanceled && !item.IsConfirmed)
                            {
                                <a class="btn btn-info pull-right m-rl-5"
                                   asp-page="./Index" asp-page-handler="Confirm" asp-route-id="@item.Id">
                                    تایید کردن
                                </a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<!--/ Bootstrap Table with Header Dark -->
<!-- / Content -->
